* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(33, 31, 31);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ul{
  list-style: none;
}
header {
  padding-top: 30px ;
}
header .container nav ul{
  display: flex;
  justify-content: center;
  gap: 20px;
}
header .container nav ul li button{
  border: none;
  font-size: large;
  font-weight: 900;
  border-radius: 7px;
  padding: 10px;
}

section .container .display {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  background-color: antiquewhite;
  align-items: center;
  border: 5px solid coral;
  border-radius: 50%;
  margin: 100px auto;
}
section .container .display span{
  font-size: 50px;
}
section .container .btn{
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
section .container .btn button{
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color:chocolate;
  color: #fff;
  font-size: large;
  padding: 10px 15px;
  margin: 5px;
}
section .container .btn button:hover{
  background-color: brown;
  transition: 0.5s;
}